body {
	background-color: black;
	color: white;
}

#grid {
	width: 300px;
	height: 300px;
	background-color: white;
}

.row {
	float: left;
	clear: both;
	border-right-style: solid;
}
.row:last-child {
	border-bottom-style: solid;
}

.cell {
	float: left;
	border-top-style: solid;
	border-left-style: solid;
	position: relative;
	background-color: black;
}

.row, .cell {
	border-width: 1px;
}

.link {
	position: absolute;
}

#grid, #options {
	float: left;
}

input[type="text"] {
	width: 2em;
}